examples/lower-case.json
[
    {
        "id": "674b5d12a2f8b851",
        "type": "inject",
        "z": "be4f30856d23c948",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "AbCdEf",
        "payloadType": "str",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "e002bff78c8971c8"
            ]
        ]
    },
    {
        "id": "e002bff78c8971c8",
        "type": "lower-case",
        "z": "be4f30856d23c948",
        "name": "",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "e5b10033b9ec1932"
            ]
        ]
    },
    {
        "id": "e5b10033b9ec1932",
        "type": "debug",
        "z": "be4f30856d23c948",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 400,
        "wires": []
    }
]
